[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
aiohttp = "*"
pytest-asyncio = "*"
pytest-mock = "*"
aioredis = "*"
asyncio-redis = "*"
sanic-motor = "*"
aiomcache = "*"
pytest-cov = "*"
wheel = "*"
black = "==19.3b0"
sphinx = "*"
sphinxcontrib-fulltoc = "*"

[requires]
python_version = ">=3.5"
